In [4]:
import pandas as pd

In [5]:
url = 'https://worldpopulationreview.com/state-rankings/crime-rate-by-state'

In [6]:
table = pd.read_html(url)
table

[             State  Homicide Rate  Firearms Death Rate  Total Firearm Deaths
 0        Louisiana           12.4                 21.3                   987
 1         Missouri            9.8                 19.0                  1144
 2           Nevada            9.1                 16.8                   498
 3         Maryland            9.0                 11.9                   707
 4         Arkansas            8.6                 17.8                   541
 5           Alaska            8.4                 23.3                   177
 6          Alabama            8.3                 21.5                  1046
 7      Mississippi            8.2                 19.9                   587
 8        Tennessee            7.8                 17.1                  1148
 9   South Carolina            7.8                 17.7                   891
 10        Illinois            7.8                 11.7                  1490
 11      New Mexico            7.1                 18.1                   383
 12         Georgia            6.7                 15.0                  1571
 13        Oklahoma            6.2                 19.6                   766
 14            Ohio            6.1                 12.9                  1524
 15         Indiana            6.0                 15.0                   997
 16        Kentucky            5.9                 17.5                   772
 17         Arizona            5.9                 15.2                  1094
 18    Pennsylvania            5.8                 12.0                  1555
 19  North Carolina            5.8                 13.7                  1409
 20        Michigan            5.7                 12.3                  1230
 21        Delaware            5.6                 11.0                   111
 22          Kansas            5.5                 13.4                   383
 23        Virginia            5.3                 12.1                  1049
 24           Texas            5.0                 12.1                  3353
 25         Florida            5.0                 12.6                  2704
 26   West Virginia            4.7                 17.5                   332
 27      California            4.6                  7.9                  3184
 28         Montana            3.9                 18.9                   194
 29        Colorado            3.9                 14.3                   812
 30      New Jersey            3.6                  5.5                   485
 31            Iowa            3.3                  9.2                   288
 32       Wisconsin            3.2                 11.4                   664
 33      Washington            3.1                  9.0                   686
 34    South Dakota            2.9                 13.4                   108
 35        New York            2.8                  4.4                   900
 36     Connecticut            2.8                  4.6                   172
 37          Hawaii            2.7                  4.5                    66
 38         Wyoming            2.6                 17.4                   101
 39          Oregon            2.5                 11.9                   513
 40   Massachusetts            2.5                  3.4                   242
 41            Utah            2.4                 12.9                   370
 42         Vermont            2.2                 11.1                    78
 43        Nebraska            2.2                  9.1                   171
 44       Minnesota            2.0                  7.6                   432
 45    Rhode Island            1.9                  4.1                    49
 46           Idaho            1.9                 14.6                   242
 47           Maine            1.7                  8.3                   123
 48    North Dakota            1.3                 11.9                    90
 49   New Hampshire            1.0                  9.3                   132]

In [7]:
type(table)

list

In [8]:
df = table[0] 
df.columns = ['State', 'Homicide Rate', 'Firearms Death Rate', 'Total Firearm Deaths']
df.head()

       State  Homicide Rate  Firearms Death Rate  Total Firearm Deaths
0  Louisiana           12.4                 21.3                   987
1   Missouri            9.8                 19.0                  1144
2     Nevada            9.1                 16.8                   498
3   Maryland            9.0                 11.9                   707
4   Arkansas            8.6                 17.8                   541

In [9]:
df.set_index('State', inplace=True)
df.head()

           Homicide Rate  Firearms Death Rate  Total Firearm Deaths
State
Louisiana           12.4                 21.3                   987
Missouri             9.8                 19.0                  1144
Nevada               9.1                 16.8                   498
Maryland             9.0                 11.9                   707
Arkansas             8.6                 17.8                   541

In [16]:
csv_crime_table = df.to_csv('crime_table.csv', index =True)
csv_crime_table